<div class="page-header">
	<h1>Brands found: <em>45</em>
		<span class="badge" style="vertical-align:middle;" data-toggle="tooltip" title="Characterized by this keyword"><em>i</em></span>
		<div class="btn-group pull-right">
		  <button type="button" class="btn btn-default disabled">Export to CSV</button>
		  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		    Order by <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu">
		    <li><a href="#">Frequency <span class="glyphicon glyphicon-ok pull-right"></span></a></li>
		    <li class="disabled"><a href="#">Audience</a></li>
		  </ul>
		</div>
	</h1>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="list-group" style="margin-top: 20px;">
  			<a href="/demo/brand" class="list-group-item">
  				<h4 style="color: #D79435;">Google <span class="badge pull-right">80</span></h4>
  			</a>
  			<a href="/demo/brand" class="list-group-item">
  				<h4 style="color: #E3A041;">Facebook <span class="badge pull-right">55</span></h4>
  			</a>
  			<a href="/demo/brand" class="list-group-item">
  				<h4 style="color: #F0AD4E;">Apple <span class="badge pull-right">50</span></h4>
  			</a>
  			<a href="/demo/brand" class="list-group-item">
  				<h4 style="color: #FDBA5B;">Microsoft <span class="badge pull-right">30</span></h4>
  			</a>
  			<a href="/demo/brand" class="list-group-item">
  				<h4 style="color: #FFC768;">Yahoo <span class="badge pull-right">5</span></h4>
  			</a>
		</div>
		
		<button class="btn btn-default btn-lg pull-right disabled" type="button">
    		View all brands <i class="fa fa-arrow-circle-right"></i>
  		</button>
		<div class="text-right">
        	
        </div>
	</div>
	<div class="col-md-6"><div id="brands-donut"></div></div>

</div>
<script>

Morris.Donut({
  element: 'brands-donut',
  data: [
    {label: "Google", value: 80},
    {label: "Facebook", value: 55},
    {label: "Apple", value: 50},
    {label: "Microsoft", value: 30},
    {label: "Yahoo", value: 5},
  ],
  colors: [
  	"#D79435",
  	"#E3A041",
  	"#F0AD4E",
  	"#FDBA5B",
  	"#FFC768"
  ],
});

</script>
