<div class="page-header">
	<h1>Keywords found: <em>30</em>
		<div class="btn-group pull-right">
		  <button type="button" class="btn btn-default disabled">Export to CSV</button>
		  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		    Order by <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu">
		    <li><a href="#">Frequency <span class="glyphicon glyphicon-ok pull-right"></span></a></li>
		    <li class="disabled"><a href="#">Audience</a></li>
		  </ul>
		</div>
	</h1>
</div>
	
<div class="row">
	<div class="col-md-6">
		<div class="list-group" style="margin-top: 20px;">
  			<a href="/demo/keyword" class="list-group-item">
  				<h4 style="color: #D79435;">Blog <span class="badge pull-right">30</span></h4>
  			</a>
  			<a href="/demo/keyword" class="list-group-item">
  				<h4 style="color: #E3A041;">Mobile <span class="badge pull-right">20</span></h4>
  			</a>
  			<a href="/demo/keyword" class="list-group-item">
  				<h4 style="color: #F0AD4E;">Startup <span class="badge pull-right">15</span></h4>
  			</a>
  			<a href="/demo/keyword" class="list-group-item">
  				<h4 style="color: #FDBA5B;">Content <span class="badge pull-right">10</span></h4>
  			</a>
  			<a href="/demo/keyword" class="list-group-item">
  				<h4 style="color: #FFC768;">Sharing <span class="badge pull-right">5</span></h4>
  			</a>
		</div>
		
		<button class="btn btn-default btn-lg pull-right disabled" type="button">
    		View all keywords <i class="fa fa-arrow-circle-right"></i>
  		</button>
		<div class="text-right">
        	
        </div>
	</div>
	<div class="col-md-6"><div id="tags-donut"></div></div>
</div>


<div class="row">
	<div class="page-header">
	<h1>Keyword evolution</h1>
	</div>
	<div class="graph-container">
		<div id="tags-area" class="graph"></div>
	</div>
</div>


<div class="row">
	<div class="page-header">
	<h1>Suggested keywords <small> based on competitors keywords</small></h1>
	</div>	
</div>

<script>

Morris.Donut({
  element: 'tags-donut',
  data: [
    {label: "Blog", value: 30},
    {label: "Mobile", value: 20},
    {label: "Startup", value: 15},
    {label: "Content", value: 10},
    {label: "Sharing", value: 5},
  ],
  colors: [
  	"#D79435",
  	"#E3A041",
  	"#F0AD4E",
  	"#FDBA5B",
  	"#FFC768"
  ],
});

var d1 = new Date();
d1.setHours(0,0,0,0)
d1.setDate(d1.getDate() - 7);

Morris.Area({
  element: 'tags-area',
  data: [
    { x: d1.getTime(), a: Math.floor((Math.random()*40)+1),  b: Math.floor((Math.random()*40)+1), c: Math.floor((Math.random()*40)+1), d: Math.floor((Math.random()*40)+1), e: Math.floor((Math.random()*40)+1) },
    { x: d1.setDate(d1.getDate() + 1), a: Math.floor((Math.random()*40)+1),  b: Math.floor((Math.random()*40)+1), c: Math.floor((Math.random()*40)+1), d: Math.floor((Math.random()*40)+1), e: Math.floor((Math.random()*40)+1) },
    { x: d1.setDate(d1.getDate() + 1), a: Math.floor((Math.random()*40)+1),  b: Math.floor((Math.random()*40)+1), c: Math.floor((Math.random()*40)+1), d: Math.floor((Math.random()*40)+1), e: Math.floor((Math.random()*40)+1) },
    { x: d1.setDate(d1.getDate() + 1), a: Math.floor((Math.random()*40)+1),  b: Math.floor((Math.random()*40)+1), c: Math.floor((Math.random()*40)+1), d: Math.floor((Math.random()*40)+1), e: Math.floor((Math.random()*40)+1) },
    { x: d1.setDate(d1.getDate() + 1), a: Math.floor((Math.random()*40)+1),  b: Math.floor((Math.random()*40)+1), c: Math.floor((Math.random()*40)+1), d: Math.floor((Math.random()*40)+1), e: Math.floor((Math.random()*40)+1) },
    { x: d1.setDate(d1.getDate() + 1), a: Math.floor((Math.random()*40)+1),  b: Math.floor((Math.random()*40)+1), c: Math.floor((Math.random()*40)+1), d: Math.floor((Math.random()*40)+1), e: Math.floor((Math.random()*40)+1) },
    { x: d1.setDate(d1.getDate() + 1), a: 5, b: 10, c: 15, d: 20, e: 30 }
  ],
  xkey: 'x',
  ykeys: ['a', 'b', 'c', 'd', 'e'],
  labels: ['Sharing', 'Content', 'Startup', 'Mobile', 'Blog'],
  
  lineColors: [
  	"#FFE081",
  	"#FFC768",
  	"#F0AD4E",
  	"#D79435",
  	"#BD7A1B",
  ],
});

</script>
