<div class="page-header">
	<h1>Medias found: <em>20</em>
		<div class="btn-group pull-right">
		  <button type="button" class="btn btn-default disabled">Export to CSV</button>
		  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		    Order by <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu">
		    <li><a href="#">Frequency <span class="glyphicon glyphicon-ok pull-right"></span></a></li>
		    <li class="disabled"><a href="#">Audience</a></li>
		  </ul>
		</div>
	</h1>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="list-group" style="margin-top: 20px;">
  			<a href="/demo/media" class="list-group-item">
  				<h4 style="color: #D79435;">Huffington Post <span class="badge pull-right">45</span></h4>
  			</a>
  			<a href="/demo/media" class="list-group-item">
  				<h4 style="color: #E3A041;">Presse Citron <span class="badge pull-right">30</span></h4>
  			</a>
  			<a href="/demo/media" class="list-group-item">
  				<h4 style="color: #F0AD4E;">Le Figaro <span class="badge pull-right">15</span></h4>
  			</a>
  			<a href="/demo/media" class="list-group-item">
  				<h4 style="color: #FDBA5B;">French Web <span class="badge pull-right">10</span></h4>
  			</a>
  			<a href="/demo/media" class="list-group-item">
  				<h4 style="color: #FFC768;">Locita <span class="badge pull-right">5</span></h4>
  			</a>
		</div>
		
		<button class="btn btn-default btn-lg pull-right disabled" type="button">
    		View all medias <i class="fa fa-arrow-circle-right"></i>
  		</button>
		<div class="text-right">
        	
        </div>
	</div>
	<div class="col-md-6"><div id="tags-donut"></div></div>

</div>


<h1 class="page-header">Suggested medias</h1>


<script>

Morris.Donut({
  element: 'tags-donut',
  data: [
    {label: "Huffington Post", value: 45},
    {label: "Presse Citron", value: 30},
    {label: "Le Figaro", value: 15},
    {label: "French Web", value: 10},
    {label: "Locita", value: 5},
  ],
  colors: [
  	"#D79435",
  	"#E3A041",
  	"#F0AD4E",
  	"#FDBA5B",
  	"#FFC768"
  ],
});

</script>
