<div class="container theme-showcase" role="main">

<div class="jumbotron">
	<h1>Author page</h1>
	<p>This page shows all the analytics available for a brand</p>
</div>

</div>

<script>
$(document).ready(function() {
	$(".navbar li").removeClass("active");
  	$("#navbar_author").addClass("active");
});
</script>
