<%= render partial: 'sidebar', locals: { link: "#" } %>

<div id="page-wrapper">
	<div id="content_partial" class="container">
		<%= render partial: "articles" %>
	</div>
</div>

<script>
$(document).ready(function() {
  	$(".navbar li").removeClass("active");
	$("#navbar_brand").addClass("active");
	$("#articles_partial").addClass("active");
	//navigation();
});
</script>
