<div class="container theme-showcase" role="main">

<div class="jumbotron">
	<h1>My brand</h1>
	<p>This page shows all the analytics available for a brand</p>
</div>

<ul class="nav nav-pills nav-justified">
  <li id="articles_partial" class="active"><a href="#">Articles</a></li>
  <li id="medias_partial"><a href="#">Medias</a></li>
  <li id="authors_partial"><a href="#">Authors</a></li>
  <li id="tags_partial"><a href="#">Tags</a></li>
  <li id="tweets_partial"><a href="#">Tweets</a></li>
</ul>

<div id="content_partial">
	<%= render partial: "articles" %>
</div>

</div>

<script>

$(document).ready(function() {
  	$(".navbar li").removeClass("active");
	$("#navbar_brand").addClass("active");
	navigation();
});

function navigation(){
	$( "#articles_partial" ).click(function() {
  		$("#content_partial").html("<%= escape_javascript(render partial: 'articles') %>");
  		$(".nav-pills li").removeClass("active");
  		$("#articles_partial").addClass("active");
	});
	$( "#tags_partial" ).click(function() {
  		$("#content_partial").html("<%= escape_javascript(render partial: 'tags') %>");
  		$(".nav-pills li").removeClass("active");
  		$("#tags_partial").addClass("active");
	});
	$( "#tweets_partial" ).click(function() {
  		$("#content_partial").html("<%= escape_javascript(render partial: 'articles') %>");
  		$(".nav-pills li").removeClass("active");
  		$("#tweets_partial").addClass("active");
	});
}
</script>
