<div class="container theme-showcase" role="main">

<div class="jumbotron" style="margin-bottom: 0px;">
	<h1>Keyword page</h1>
	<p>This page shows all the analytics available for a given keyword.</p>
</div>

<ul id="partial_list" class="nav nav-pills nav-justified" style="padding-top: 30px;">
  <li id="brands_partial" class="active"><a href="#partial_list">Brands</a></li>
  <li id="medias_partial"><a href="#partial_list">Medias</a></li>
  <li id="authors_partial"><a href="#partial_list">Authors</a></li>
</ul>

<div id="content_partial">
	<%= render partial: "brands" %>
</div>


</div>

<script>
$(document).ready(function() {
  	$(".navbar li").removeClass("active");
	$("#navbar_keyword").addClass("active");
	navigation();
});

function navigation(){
	$( "#brands_partial" ).click(function() {
  		$("#content_partial").html("<%= escape_javascript(render partial: 'brands') %>");
  		$(".nav-pills li").removeClass("active");
  		$("#brands_partial").addClass("active");
	});
	$( "#medias_partial" ).click(function() {
  		$("#content_partial").html("<%= escape_javascript(render partial: 'medias') %>");
  		$(".nav-pills li").removeClass("active");
  		$("#medias_partial").addClass("active");
	});
	$( "#authors_partial" ).click(function() {
  		$("#content_partial").html("<%= escape_javascript(render partial: 'authors') %>");
  		$(".nav-pills li").removeClass("active");
  		$("#authors_partial").addClass("active");
	});		
}
</script>
