
<%= render partial: 'sidebar', locals: { link: "brand" } %>

<div id="page-wrapper">
	<div id="content_partial" class="container">
		<%= render partial: "audience" %>
		<%= render partial: "brands" %>
				
		<div class="row">
			<div class="col-md-6">
				<h1 class="page-header">Similar keywords
					<span class="badge" style="vertical-align:middle;" data-toggle="tooltip" title="based on medias and brands"><em>i</em></span>
				</h1>

				<div class="list-group" style="margin-top: 20px;">
		  			<a href="/demo/keyword" class="list-group-item">
		  				<h4 style="color: #D79435;">Mobile</h4>
		  			</a>
		  			<a href="/demo/keyword" class="list-group-item">
		  				<h4 style="color: #E3A041;">Advertising</h4>
		  			</a>
		  			<a href="/demo/keyword" class="list-group-item">
		  				<h4 style="color: #F0AD4E;">Targeting</h4>
		  			</a>
		  			<a href="/demo/keyword" class="list-group-item">
		  				<h4 style="color: #FDBA5B;">Curation</h4>
		  			</a>
		  			<a href="/demo/keyword" class="list-group-item">
		  				<h4 style="color: #FFC768;">SEO</h4>
		  			</a>
				</div>
				
				<button class="btn btn-default btn-lg pull-right disabled" type="button">
		    		View all similar keywords <i class="fa fa-arrow-circle-right"></i>
		  		</button>
			</div>
			
			<div class="col-md-6">
				<h1 class="page-header">Top medias
					<span class="badge" style="vertical-align:middle;" data-toggle="tooltip" title="talking about the keyword"><em>i</em></span>
				</h1>

				<div class="list-group" style="margin-top: 20px;">
		  			<a href="/demo/media" class="list-group-item">
		  				<h4 style="color: #D79435;">Tech Crunch Fr</h4>
		  			</a>
		  			<a href="/demo/media" class="list-group-item">
		  				<h4 style="color: #E3A041;">Le Monde</h4>
		  			</a>
		  			<a href="/demo/media" class="list-group-item">
		  				<h4 style="color: #F0AD4E;">Rude Baguette</h4>
		  			</a>
		  			<a href="/demo/media" class="list-group-item">
		  				<h4 style="color: #FDBA5B;">Journal du Net</h4>
		  			</a>
		  			<a href="/demo/media" class="list-group-item">
		  				<h4 style="color: #FFC768;">Maddyness</h4>
		  			</a>
				</div>
				
				<button class="btn btn-default btn-lg pull-right disabled" type="button">
		    		View all medias <i class="fa fa-arrow-circle-right"></i>
		  		</button>
				
			</div>
		
		</div>
			
	</div>
</div>




<script>
$(document).ready(function() {
//  	$(".navbar li").removeClass("active");

//	$("#navbar_keyword").addClass("active");
//	$("#audience_partial").addClass("active");
	$("#keywords_partial").addClass("active");
});
</script>