<div class="container theme-showcase" role="main">

<div class="jumbotron">
	<h1>Media page</h1>
	<p>This page shows all the analytics available for a brand</p>
</div>

</div>

<script>
$(document).ready(function() {
  	$(".navbar li").removeClass("active");
  	$("#navbar_media").addClass("active");
});

</script>
