
<div class="page-header">
	<h1>Articles found: <em id="articles_count">loading...</em>
		
		<button id="order_by_relevance_button" type="button" class="btn btn-default pull-right disabled" data-toggle="tooltip" data-placement="top" title="Order by relevance" style="margin-top: 3px;">
			<span class="glyphicon glyphicon-chevron-up"></span>
		</button>
	</h1>
</div>

<div class="row">
	<div class="col-md-11">
		<div class="progress progress-striped active" style="margin-top: 10px; margin-bottom: 10px;">
			<div id="articles_progress-bar" class="progress-bar progress-bar-warning"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
				<span class="sr-only">0% Complete</span>
		  	</div>
		</div>
	</div>
	<div class="col-md-1">
		<button id="kill_search_button" type="button" class="btn btn-default pull-right" data-toggle="tooltip" data-placement="top" title="Stop" style="margin-top: 3px;">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	</div>	
</div>

<hr />
<div id="search_errors"></div>
<div id="articles_list"></div>

<script>
var short_urls = <%= raw @short_urls %>;
var short_urls_count = short_urls.length;
var url;
var kill_search = false;
var search_errors = 0;
var articles_count = 0;

$(document).ready(function() {
	$('.btn').tooltip();
	$("#kill_search_button").click(function() {
  		kill_search = true;
  		$("#kill_search_button").addClass( "disabled" );
	});
	$("#order_by_relevance_button").click(function() {
  		order_articles_by_relevance();
  		$("#order_by_relevance_button").addClass( "disabled" );
	});
	display_articles();
});


function display_articles(){
	if (processing_search) { 
		for(var k in articles) {
			display_article(articles[k]["data"]);
		}
		$('#articles_count').html(articles_count);
		update_progress_bar(short_urls_count, processed_articles);
		return;
	}
	
	if (articles_are_processed) {
		$("#kill_search_button").addClass( "disabled" );
		$("#order_by_relevance_button").removeClass( "disabled" );
		for(var k in articles) {
			display_article(articles[k]["data"]);
		}
		update_progress_bar(short_urls_count, processed_articles);
		$('#articles_progress-bar').attr('class', 'progress-bar progress-bar-success');
		$('#articles_progress-bar').parent().removeClass("active");
	}
	else {
		processing_search = true;
		process_articles(0);
	}
}


function process_articles(i){
	
	processed_articles = i;
	update_progress_bar(short_urls_count, processed_articles);
	
	if ((kill_search) || (i >= short_urls_count)) { // end of the processing
		if (kill_search) {
			console.log("REQUEST ABORDED !");
			$('#articles_progress-bar').parent().removeClass("active");
		}
		else {
			$('#articles_progress-bar').attr('class', 'progress-bar progress-bar-success');
			$('#articles_progress-bar').parent().removeClass("active");
		}
		
		console.log("ARTICLES: ");
		console.log(articles);
		articles_are_processed = true;
		processing_search = false;
		if (store_in_db) $.post('/diffbot_api/create', { url: "research", response: JSON.stringify(articles)});
		
		$("#kill_search_button").addClass( "disabled" );
		$("#order_by_relevance_button").removeClass( "disabled" );
		$('#articles_count').html(articles_count);
		
		if (search_errors > 0) {
			$('#search_errors').addClass("alert alert-danger alert-dismissable");
			$('#search_errors').html('<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
									 '<strong>Oops!</strong> We could not process ' + search_errors +' articles. More information in your browser console...');
		}
	} else {
		url = short_urls[i]; // we retrieve the short url
		if (url in short_urls_map) { //if the short url has already been processed
			console.log(url + " is already in.");
			articles[short_urls_map[url]]["count"] += 1; //we add a count to the article list
			process_articles(i+1);
		} else { //we process the ajax request 
			if(diffbot) { diffbot_request(i); }
			else { ajax_request(i); }
		}	
	}
}


function ajax_request(i){
	console.log('request to: ' + url);
	$.ajax({
		type: "POST",
		dataType: 'json',
		url: "/twitter_api/show_url.json",
		data: { short_url: url, resolved_urls: Object.keys(articles) }
	})
	.done(function(article) {
		found_url = article["resolved_url"] || url;
		if (article["success"]){
			short_urls_map[url] = found_url ;
	
			if (found_url in articles) {
				console.log("it's already in: " + found_url);
				articles[found_url]["count"] += 1;
			}
			else {
				console.log("it's a new article: " + found_url);
				articles[found_url] = { count: 1, data: article};
				display_article(article); // we display the article
			}
		}
		else {
			console.log('Could not process ' + url);
			console.log('with expanded url: ' + found_url);
			search_errors += 1;
		}
	})
	.fail(function() {
    	console.log('Could not process ' + url);
    	search_errors += 1;
  	})
  	.always(function() {
  		process_articles(i+1);
  	});
}


function diffbot_request(i){
	console.log('request to: ' + url);
	$.ajax({
		url: "http://api.diffbot.com/v2/article",
		context: document.body,
		data: { token : "eecf536c1f7d84030c6eabea9ad4e134", url: url }
	})
	.done(function(article) {
		found_url = article["resolved_url"] || url ;
		short_urls_map[url] = found_url ;

		if (found_url in articles) {
			console.log("it's already in: " + found_url);
			articles[found_url]["count"] += 1;
		}
		else {
			console.log("it's a new article: " + found_url);
			article["short_url"] = url;
			article["author"] = article["author"] || "";
			article["date"] = article["date"] || "";
			article["description"] = article["text"] || "";
			if (typeof article["images"] === "undefined"){
				article["image"] = "";
			} else {
				article["image"] = article["images"][0]["url"] || "";
			}
			articles[found_url] = { count: 1, data: article};
			
			display_article(article); // we display the article
		}
	}).fail(function() {
    	console.log('Error with: ' + url);
    	search_errors += 1;
  	}).always(function() {
  		process_articles(i+1);
  	});

}


function display_article(article){
	
	var template ='<div class="media">';
	template	+='<a class="pull-left" href="' + article["resolved_url"]+'", target="_blank"">'
  				+ '<img class="media-object" data-src="holder.js/64x64" alt="64x64" src="';
  	
  	if (!article["image"]) {
    	template +='data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+';
    } else {
    	template += article["image"];
    }
	
  	template	+='" style="width: 64px; height: 64px;">'
  				+ '</a>'
  			 	+ '<div class="media-body">'
  			 	+ '<a href="' + article["resolved_url"]+'", target="_blank"">'
  			 	+ '<h4 class="media-heading">'+ article["title"] +'</h4>'
    		 	+ '</a>'
    		 	+ '<em> Posted on '+ article["date"] + ', by ' + article["author"] + ' </em>';
    if (!article["description"]) {
    	template += '<p>No description available...</p>';
    } else {
    	template +='<p>' + article["description"].substring(0,500); + '</p>';
    }		
    template += '</div></div><hr />';
    
    articles_count += 1;
    $("#articles_list").append(template);
	$('#articles_count').html(articles_count);
}


function update_progress_bar(size, i){
	var valeur = 100;
	if (size != 0) { valeur = i * 100 / size; } 
	
	$('#articles_progress-bar').css('width', valeur +'%').attr('aria-valuenow', valeur);	
}


function order_articles_by_relevance(){
	$('#articles_list').html("");
	articles_count = 0;
	
	var sorted_articles = [];
    for (var k in articles) sorted_articles.push([articles[k]["count"], articles[k]["data"]]);

    sorted_articles.sort(function(a, b) { return a[0] < b[0] ? 1 : a[0] > b[0] ? -1 : 0 });
	
	for(var k in sorted_articles) {
		display_article(sorted_articles[k][1]);
	}
}
</script>
