<div class="page-header">
	<h1>Authors found: <em id="authors_count">0</em></h1>
</div>

<table id="authors_table" class="table table-striped table-bordered table-hover dataTable no-footer">
	<thead>
		<tr>
		  <th>Author</th>
		  <th>Count</th>
		  <th style="min-width: 200px;">Proportion</th>
		</tr>
	</thead>
	
	<tbody id="authors_table_body">
	</tbody>
</table>

<script>

var authors = {};

$(document).ready(function() {
	
	process_authors();
	
	$('#authors_table').dataTable({
		"bAutoWidth": false,
		"aaSorting": [[ 1, "desc" ]],
	});
});

function process_authors(){
	var authors_count = 0;
	var weighted_authors_count = 0;
	
	for(var k in articles) {
    	var author = articles[k]["data"].author;
    	if (author === undefined) continue;
    	    	
    	if (author in authors) {
    		authors[author] += articles[k]["count"];
    	} else {
    		authors_count += 1;
    		authors[author] = articles[k]["count"];
    	}
    	weighted_authors_count += articles[k]["count"];
	}
	
	for(var k in authors){
		var template = '<tr>';
		template += '<td>' + k + '</td>';
		template += '<td>'+ authors[k] + '</td>';
		template += '<td> <div class="progress">';
		template +=	'<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="' 
				 + (authors[k]*100 / weighted_authors_count) 
				 + '" aria-valuemin="0" aria-valuemax="100" style="width: '
				 + (authors[k]*100 / weighted_authors_count) 
				 + '%;"><span class="sr-only">'
				 + (authors[k]*100 / weighted_authors_count) 
				 + '% Complete</span></div>';
		template +=	'</div></td>';
		template += '</tr>';
		
		$("#authors_table_body").append(template);
	}
	$("#authors_count").html(authors_count);
}
</script>