<!-- Full Page Image Header Area -->
<div id="top" class="header">
    <div class="vert-text">
        <h1>Press Tracking</h1>
        <h3>Enter your brand name</h3>
		
		<%= form_tag("twitter_api/search", method: "get", :class =>"navbar-form") do %>		  
		  <div class="form-group">
		  <%= text_field_tag :search_tag, "", class: "form-control", placeholder: "#MyBrand" %>
		  </div>
		  <%= submit_tag "Search !", class: "btn btn-warning" %>
		<% end %>
    </div>
</div>

<div id="test"></div>

<script>
$(document).ready(function() {
	//diffbot_api_call();
});

function diffbot_api_call(){
$.ajax({
	url: "http://api.diffbot.com/v2/article",
	context: document.body,
	data: { token : "eecf536c1f7d84030c6eabea9ad4e134", url: "http://dlvr.it/51TcN0" }
}).done(function(data) {
	console.log(data);
	$.post('/diffbot_api/create', {url: "http://dlvr.it/51TcN0", response: JSON.stringify(data)});
});
}
</script>
