<% sleep 5 %>

<!-- Full Page Image Header Area -->
<div id="top" class="header">
    <div class="vert-text">
        <h1>Press Tracking</h1>
        <h3>Enter your brand name</h3>
		
		<%= form_tag("twitter_api/search", method: "get", :class =>"navbar-form") do %>		  
		  <div class="form-group">
		  <%= text_field_tag :search_tag, "", class: "form-control", placeholder: "#MyBrand" %>
		  </div>
		  <%= submit_tag "Search !", class: "btn btn-warning" %>
		<% end %>
    </div>
</div>
