<!-- Full Page Image Header Area -->
<div id="top" class="header">
    <div class="vert-text">
        <h1>Press Review</h1>
        <h3>Enter your brand name</h3>
		<form class="navbar-form" role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="#MyBrand">
			</div>
			<button type="submit" class="btn btn-warning">Search !</button>
		</form>	
    </div>
</div>

        

